/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-text-fw);
  inline-size: 100%;
}

.header {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem)
    clamp(1rem, -1.3437rem + 9.9996vw, 7.656rem);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), fantasy;
  background-color: var(--bg-color);
}

.content-width {
  inline-size: var(--page-width);
}

.header__logo {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.section__card {
  max-inline-size: 100%;
  display: grid;
  gap: 50px;
  margin: 0 auto;
}

.card {
  display: grid;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  block-size: fit-content;
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-sunny-day {
  filter: brightness(200%) saturate(150%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-old-photo {
  filter: saturate(150%) sepia(30%) contrast(140%);
}

.filter-contrast {
  filter: contrast(350%);
}

.filter-hue-rotate {
  filter: hue-rotate(45deg);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-dramaric-movie {
  filter: saturate(300%) contrast(200%) sepia(30%);
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--card-title-fw);
}

.card__image-container {
  position: relative;
}

.card__image {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
}

.image-watermark {
  position: absolute;
  top: 29px;
  right: 23px;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 var(--text-stroke-color),
    1px -1px 0 var(--text-stroke-color),
    -1px 1px 0 var(--text-stroke-color),
    1px 1px 0 var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    paint-order: stroke fill;
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__description-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block-start: 25px;
  padding: 0 25px;
  font-size: 18px;
}

.button-container {
  display: flex;
  justify-self: end;
  justify-content: end;
  gap: 7px;
  width: min-content;
  margin-inline-end: 25px;
  margin-block-start: 25px;
  margin-block-end: 25px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  block-size: 38px;
  inline-size: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  margin-inline-start: -2px;
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: like 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: like-sparks 0.3s ease-in 0.3s;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}
.card__like-button {
  padding: 9px 17px;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
  padding: 15px 20px;
  inline-size: 335px;
  block-size: 55px;
}

.floppy {
  z-index: 2;
  color: white;
  fill: currentColor;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.save-button-dialog {
  position: fixed;
  grid-template-columns: min-content 1fr;
  gap: 30px 20px;
  border: 2px solid var(--accent-color);
  padding: 30px;
  color: var(--accent-color);
  text-transform: uppercase;
  background-color: var(--bg-color);
  min-inline-size: 341px;
  inline-size: clamp(21.313rem, 20.4476rem + 3.6923vw, 22.3rem);
}

.save-button-dialog[open] {
  display: grid;
}

.save-button-dialog .floppy {
  grid-column: 1;
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.save-button-dialog .button__text {
  grid-column: 2;
  line-height: 150%;
}

.dialog-button {
  grid-column: 1 / 3;
  text-transform: uppercase;
  block-size: 38px;
  inline-size: 293px;
}

.save-button-dialog::backdrop {
  opacity: 0.75;
  background-color: black;
}

@media (width <= 375px) {
  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
  .save-button {
    flex-direction: column;
    gap: 8px;
    padding: 15px 18px;
    inline-size: 306px;
    block-size: 84px;
  }
}
